#hardscape-page {
    background-color: #353a47;
    color: white;
    padding: 5svh 5svw;
    padding-top: 80px;
    overflow-x: hidden;
  
    h1 {
      flex-direction: column;
      color: rgb(249, 255, 255);
    }
}