#about-page {
  background-color: #353a47;
  color: white;
  padding: 5svh 5svw;
  padding-top: 80px;
  overflow-x: hidden;

  .sub-header {
    color: rgb(249, 255, 255);
    max-width: 40%;
  }

  .content-p {
    color: rgb(249, 255, 255);
    margin-top: 20px;
  }

  .opening {
    color: #f7c1bb;
  }

  img {
    max-width: 100svw;
    min-width: 100svw;
    margin-left: -5svw;
  }

  // p {
  //   margin-top: 20px;
  //   line-height: 25px;
  //   font-family: "Roboto", sans-serif;
  //   font-weight: 300;
  //   font-style: normal;
  // }


  // h2 {
  //   margin-top: 50px;
  //   color: #f7c1bb;
  //   font-family: "Roboto", sans-serif;
  //   font-size: 30px;
  //   font-family: "Roboto", sans-serif;
  //   font-weight: 300;
  //   font-style: italic;
  // }

  .img-bg {
    margin-top: 30px;
  }

  .difference {
    background-color: white;
    min-width: 100svw;
    margin-top: -5px;
    max-width: 100svw;
    margin-left: -5svw;
    padding: 1svh 10svw;

    .sub-header {
      color: #353a47;
      max-width: 80%;
    }

    .opening {
      color: #885a5a;
    }

    .inner-image {
      max-width: 80svw;
      min-width: 80svw;
      margin: auto;
    }

    .container {
      .bullet-container {
        min-height: fit-content;
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;

        .bullet {
          min-height: 70px;
          min-width: 70px;
          max-height: 70px;
          max-width: 70px;
          border-radius: 50%;
          background-color: #885a5a;
          margin-top: 5px;
          font-size: 30px;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .bullet-content {
          padding-left: 10px;
          h4 {
            margin-bottom: 0px;
            color: #353a47;
            font-family: "Oswald", sans-serif;
            font-weight: 600;
          }

          p {
            line-height: 14px;
            font-size: 12px;
            color: #353a47;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

/* ipad Mini Portrait */
@media only screen and (min-width: 768px) {
  #about-page {
    position: relative;
    padding: 100px 5svw;
    padding-bottom: 0px;
    

    h1 {
      order: 0;
      max-width: 45%;
      display: flex;
      position: absolute;
    }

    .first-paragraph {
      order: 0;
      max-width: 40%;
      display: flex;
      float: right;
      position: absolute;
      right: 10svw;
      top: 100px;
    }

    .get-started-btn {
      background: none;
      position: absolute;
      right: 10svw;
      font-size: 10px;
      top: 180px;
    }

    img {
      margin-top: 80px;
      max-width: 90svw;
      min-width: 90svw;
      margin-left: auto;
      margin-bottom: 40px;
    }

    .sub-header {
      margin-bottom: 0px;

    }

    .second-paragraph {
      padding-bottom: 80px;
      max-width: 50%;

      .content-p {
      font-size: 8px;
      line-height: 10px;
      max-width: 50%;
      padding-left: 20px;
      }
    }

    .about-image-2 {
      max-width: 32svw;
      min-width: 32svw;
      position: absolute;
      right: 7svw;
      top: 59svh;
    }

    // .first-paragraph {
    //   display: flex;
    //   float: right;
    //   position: absolute;
    //   right: 24svw;
    //   font-size: 8px;
    //   top: 100px;
    // }

    // .get-started-btn {
    //   background: none;
    //   position: absolute;
    //   right: 10svw;
    //   top: 15.5svh;
    // }

    // img {
    //   max-width: 80svw;
    //   min-width: 80svw;
    //   margin: auto;
    //   margin-top: 100px;
    // }

    // .content-p {
    //   max-width: 30%;
    // }

    // // h2 {
    // //   font-size: 15px;
    // //   margin-top: 110px;
    // //   color: #f7c1bb;
    // //   margin-bottom: 0px;
    // //   line-height: 20px;
    // //   font-family: "Roboto", sans-serif;
    // //   font-weight: 300;
    // //   font-style: italic;
    // // }

    // .second-paragraph {
    //   font-size: 8px;
    //   line-height: 10px;
    //   max-width: 40%;
    //   padding-left: 20px;
    //   padding-bottom: 150px;
    // }

    // .about-image-2 {
    //   max-width: 32svw;
    //   min-width: 32svw;
    //   position: absolute;
    //   right: 10svw;
    //   top: 52svh;
    // }

    .difference {
      position: relative;
      padding-top: 50px;
      padding-bottom: 15px;
      margin-left: -5svw;

      .sub-header,
      .opening,
      .inner-image {
        position: absolute;
        right: 10svw;
      }

      .sub-header {
        text-align: center;
        max-width: 40%;
        top: 35px;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-left: 20px;

        span {
          padding-right: 50px !important;
        }
      }

      .opening {
        text-align: center;
        max-width: 40%;
        right: 22svw;
        top: 5px;
      }

      .inner-image {
        max-width: 35svw;
        min-width: 35svw;
        margin: auto;
        top: 170px;
      }

      .container {
        max-width: 55%;
        margin-top: -40px;

        .bullet-container {
          h4 {
            font-size: 14px;
          }
          .bullet-content {
            max-width: 220px;
            min-width: 220px;
            .content-p {
              font-size: 10px;
              line-height: 12px;
              max-width: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1224px) {
    #about-page {
        padding: 10svh 20svw;
        h1 {
            font-size: 75px;
            max-width: 30%;
            
          }
          .first-paragraph {
            max-width: 25%;
            min-width: 25%;
            right: 20svw;
            font-size: 10px;
            top: 50px;
            line-height: 13px;
          }

          .get-started-btn {
            right: 20svw;
            top: 180px;
          }

          img {
            max-width: 60svw;
            min-width: 60svw;
          }

          h2 {
            font-size: 20px;
            margin-top: 90px;
          }
      
          .second-paragraph {
            font-size: 10px;
            line-height: 13px;
          }
      
          .img-bg {
            max-width: auto;
            min-width: auto;
            min-height: 350px;
            max-height: 350px;
            position: absolute;
            right: 22svw;
            top: 120svh;
          }

          .difference {
            margin-left: -20svw;
            padding-left: 20svw;
            padding-right: 20svw;

            h2 {
                right: 20svw;
            }

            .opening {
                right: 28svw;
            }

            .inner-image {
                max-width: 30svw;
                min-width: 30svw;
                margin: auto;
                top: 110px;
                right: 21svw;
              }
          }
    }
}
