#nav-menu {
    background-color: #353A47;
    padding: 5svh 5svw;
    max-height: 100svh;
    min-height: 100svh;
    max-width: 100svw;
    min-width: 100svw;
    padding-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    color: rgb(249, 255, 255);
    font-family: "Oswald", sans-serif;
    z-index: 15;
    display: flex;

    img {
        display: none;
    }

    ul {
        list-style: none;

        li {
            font-size: 37px;
            font-weight: 200;
            margin: 20px 0px
        }

        .active {
            color: #f7c1bb;
        }
    }
}

/* ipad Mini Portrait */
@media only screen and (min-width:768px) {
    #nav-menu {
        justify-content: space-between;
        img {
            display: inline;
            max-width: 45svw;
            min-width: 45svw;
            height: auto;
            max-height: 400px;
            min-height: 400px;
            margin-top: 7svh;
        }
    }
}

// // Desktop
// @media only screen and (min-height: 700px) and (min-width: 1100px) {
//     #nav-menu {
//         display: none;
//     }
//     }