.who-we-are {
    background-color: white;
    padding: 5svh 10svw;
    padding-top: 5svh;

    h2 {
        font-size: 45px;
        line-height: 50px;
        font-weight: lighter;
        margin-bottom: 25px;
        font-family: "Oswald", sans-serif;
    }

    p {
        line-height: 25px;
        margin-bottom: 25px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

        
    .opening {
        font-size: 18px;
        color: pink;
        margin-bottom: 0px;
        line-height: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .nav-carousel {
        justify-content: center;
        margin-bottom: 25px;
        font-size: 12px;
        max-width: 40svw;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-family: "Oswald", sans-serif;
    }

    img {
        min-width: 90svw;
        margin: auto;
        margin-left: -5svw;
    }
}


// Desktop
@media only screen and (min-height: 700px) and (min-width: 1100px) {
    .who-we-are {

    }
    }