.who-we-are {
    background-color: rgb(249, 255, 255);
    padding: 5svh 5svw;
    padding-top: 5svh;

    .nav-carousel {
        justify-content: center;
        margin-bottom: 25px;
        font-size: 12px;
        max-width: 40svw;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-family: "Oswald", sans-serif;
    }

    .carousel-img {
        min-width: 90svw;
        max-width: 90svw;
        margin: auto;
        background-color: green !important;
        position: relative;
    }
}

/* ipad Mini Portrait */
@media only screen and (min-width:768px) {
    .who-we-are {
        justify-content: right;
        text-align: right;
        position: relative;
        padding: 5svh 10svw;

    .sub-header {
        max-width: 45%;
        position: absolute;
        left: 10svw;
        top: 80px;
        text-align: left;

        .second {
            margin-left: 40px;
        }

        .third {
            margin-left: 20px;
        }
    }


    .content-p {
        max-width: 45%;
        margin-left: 55%;
        font-size: 10px;
        line-height: 12px;
        text-align: left;
    }

        
    .opening {
        max-width: 35%;
        text-align: left;
        font-size: 15px;
        top: 100px;
    }

    .nav-carousel {
        max-width: 20%;
        margin-left: 80%;
        font-size: 10px;
    }

    .carousel-img {
        min-width: 100%;
        max-width: 100%;
        margin: auto;
        margin-left: -5svw;
    }

    }

}

// Desktop
@media only screen 
and (min-width: 1224px) {
    .who-we-are {
        padding-left: 180px;
        padding-right: 180px;

        h2 {
            margin-left: 70px;
            font-size: 60px;
            line-height: 65px;
            margin-top: -20px;

        }

        p {
            max-width: 45%;
            margin-left: 55%;
            font-size: 12px;
            line-height: 14px;
            text-align: left;
        }

        img {
            min-width: 70svw;
            max-width: 70svw;
            margin: auto;
            margin-left: auto;
            margin-right: auto;
        }

        .opening {
            max-width: 35%;
            text-align: left;
            font-size: 15px;
            margin-left: 15px;
            top: 100px;
        }
    }
}