#home-page {
    header {
        background-color: #353A47;
        width: 100%;
        padding: 5svh 10svw;
        padding-top: 100px;
        min-height: 80svh;
        font-family: "Oswald", sans-serif;


        h1 {
            display: flex;
            flex-direction: column;
            color: rgb(249, 255, 255);
            font-size: 65px;
            line-height: 65px;

            p {
                font-size: 30px;
            }
        }

        p {
            color: rgb(249, 255, 255);
            font-family: "Roboto", sans-serif;
            margin-top: 30px;
            font-size: 15px;
            line-height: 25px;

        }

        .help {
            background: none;
            color: rgb(249, 255, 255);
            border: solid 1px #F7C1BB;
            padding: 10px 20px;
            margin-top: 30px;
            font-family: "Oswald", sans-serif; 
        }
    }

    img {
        width: 100%;
    }

    .get-started, .services, .testimonials, .mission {
        background-color: #353A47;
        padding: 5svh 10svw;
        padding-top: 5svh;
        color: rgb(249, 255, 255);
    
        h2 {
            font-size: 45px;
            line-height: 50px;
            font-weight: lighter;
            margin-bottom: 25px;
            font-family: "Oswald", sans-serif;
        }
    
        p {
            line-height: 25px;
            margin-bottom: 25px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
    
            
        .opening {
            font-size: 18px;
            color: #F7C1BB;
            margin-bottom: 0px;
            line-height: 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: italic;
        }

        img {
            min-width: 90svw;
            margin: auto;

            margin-left: -5svw;
        }

        .get-started-btn {
            background: none;
            color: rgb(249, 255, 255);
            border: solid 1px #F7C1BB;
            padding: 10px 20px;
            margin-top: 30px;
            font-family: "Oswald", sans-serif;
            margin-bottom: 30px;
        }
    }

    .services, .mission {
        background-color: rgb(249, 255, 255);
        color: black;

        .opening {
            color: #885A5A;
            font-weight: 300;
        }

        .service-btn, .mission-btn {
            display: flex;
            max-height: 100px;
            margin-bottom: 20px;

            .img {
                min-height: 100px;
                min-width: 100px;
                background-color: #353A47;
                border-radius: 50%;
            }

            h3 {
                height: fit-content;
                vertical-align: middle;
                font-size: 20px;
                font-family: "Oswald", sans-serif;
                margin: auto;
                padding-left: 25px;
                font-weight: normal;
            }
        }

        .mission-btn {
            max-width: 70%;
            h3 {
                padding-left: 0px;
            }
        }
    }
}

// Desktop
@media only screen and (min-height: 700px) and (min-width: 1100px) {
    #home-page {

    }
    }