#nav-sm {
    max-width: 100svw;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 2svh 10svw;
    color: white;
    align-items: center;
    z-index: 2;
    position: fixed;
    min-width: 100svw;
    max-height: 70px;
    min-height: 70px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    z-index: 100;


    span {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin-left: 1svw;
        }

        .icon {
            font-size: 17px;
            vertical-align: middle;
        }
    }


    button {
        background: none;
        border: 1px solid white;
        padding: 7px 15px;
        font-size: 12px;
        font-family: "Oswald", sans-serif;
        color: white;
    }
}

// Desktop
@media only screen and (min-height: 700px) and (min-width: 1100px) {
#nav-sm {
    display: none;
}
}