#nav-sm {
    max-width: 100svw;
    background-color: #353A47;
    display: flex;
    justify-content: space-between;
    padding: 2svh 5svw;
    color: rgb(249, 255, 255);
    align-items: center;
    z-index: 2;
    position: fixed;
    min-width: 100svw;
    max-height: 70px;
    min-height: 70px;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    z-index: 100;


    span {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin-left: 2svw;
        }

        .icon {
            font-size: 17px;
            vertical-align: middle;
        }
    }


    button {
        background: none;
        border: solid 1px #F7C1BB;
        padding: 7px 15px;
        font-size: 12px;
        font-family: "Oswald", sans-serif;
        color: rgb(249, 255, 255);
    }
}

/* ipad Mini Portrait */
@media only screen and (min-width: 768px) {
    #nav-sm {
        display: none;
    }
}

/* ipad Mini Landscape */
@media only screen and (width:1024px) {
    #nav-sm {
        display: none;
    }
}

// Desktop
@media only screen and (min-height: 700px) and (min-width: 1100px) {
#nav-sm {
    display: none;
}
}