#home-page {
  header {
    background-color: #353a47;
    width: 100%;
    padding: 5svh 10svw;
    padding-top: 100px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    min-height: 80svh;
    font-family: "Oswald", sans-serif;

    h1 {
      display: flex;
      flex-direction: column;
      color: rgb(249, 255, 255);
      font-size: 65px;
      line-height: 65px;

      p {
        font-size: 30px;
      }
    }

    p {
      color: rgb(249, 255, 255);
      font-family: "Roboto", sans-serif;
      margin-top: 30px;
      font-size: 15px;
      line-height: 25px;
    }

    .help {
      background: none;
      color: rgb(249, 255, 255);
      border: solid 1px #f7c1bb;
      padding: 10px 20px;
      margin-top: 30px;
      font-family: "Oswald", sans-serif;
      margin-bottom: 100px;
    }

    img {
      width: 100svw;
      margin-left: -10svw;
    }
  }
  .get-started,
  .services,
  .testimonials,
  .mission {
    background-color: #353a47;
    padding: 5svh 10svw;
    padding-top: 5svh;
    color: rgb(249, 255, 255);

    h2 {
      font-size: 45px;
      line-height: 50px;
      font-weight: lighter;
      margin-bottom: 25px;
      font-family: "Oswald", sans-serif;
    }

    p {
      line-height: 25px;
      margin-bottom: 25px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .opening {
      font-size: 18px;
      color: #f7c1bb;
      margin-bottom: 0px;
      line-height: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: italic;
    }

    img {
      min-width: 90svw;
      margin: auto;
      max-width: 90svw;
      margin-left: -5svw;
    }

    .get-started-btn {
      background: none;
      color: rgb(249, 255, 255);
      border: solid 1px #f7c1bb;
      padding: 10px 20px;
      margin-top: 30px;
      font-family: "Oswald", sans-serif;
      margin-bottom: 30px;
    }
  }

  .services,
  .mission {
    background-color: rgb(249, 255, 255);
    color: black;

    .opening {
      color: #885a5a;
      font-weight: 300;
    }

    .service-btn,
    .mission-btn {
      display: flex;
      max-height: 100px;
      margin-bottom: 20px;

      .img {
        min-height: 100px;
        min-width: 100px;
        background-color: #353a47;
        border-radius: 50%;
      }

      h3 {
        height: fit-content;
        vertical-align: middle;
        font-size: 20px;
        font-family: "Oswald", sans-serif;
        margin: auto;
        padding-left: 25px;
        font-weight: normal;
      }
    }

    .button-container {
      .img-bg {
        display: none;
      }
    }
    .mission-btn {
      max-width: 100%;
      position: relative;
      min-height: 250px;

      .img {
        min-height: 100px;
        min-width: 100px;
        max-height: 100px;
        max-width: 100px;
        background-color: #353a47;
        border-radius: 50%;
      }

      h3 {
        padding-left: 0px;
        margin: 30px 30px;
      }

      p {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

/* ipad Mini Portrait */
@media only screen and (min-width: 768px) {
  #home-page {
    header {
      text-align: right;
      position: relative;
      max-height: 40svh;
      min-height: 40svh;
      padding-top: 75px;

      h1 {
        font-size: 45px;
        line-height: 48px;
      }

      p {
        max-width: 40%;
        margin-right: 0;
        margin-left: 60%;
        font-size: 12px;
        line-height: 14px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 60%;
        height: 100%;
      }

      .help {
        background: none;
        color: rgb(249, 255, 255);
        border: solid 1px #f7c1bb;
        padding: 10px 20px;
        font-size: 12px;
        margin-top: 20px;
        font-family: "Oswald", sans-serif;
        margin-bottom: 100px;
      }
    }

    .get-started {
      position: relative;
      h2 {
        max-width: 60%;
        position: relative;
        z-index: 11;
      }

      p {
        max-width: 40%;
        font-size: 10px;
        line-height: 12px;
        position: relative;
        z-index: 11;
      }

      .opening {
        max-width: 50%;
        z-index: 10;
      }

      img {
        min-width: 10svw;
        margin: auto;
        max-width: 35svw;
        position: absolute;
        right: 10svw;
        top: 5svh;
        z-index: 1;
      }

      .get-started-btn {
        background: none;
        color: rgb(249, 255, 255);
        border: solid 1px #f7c1bb;
        padding: 10px 20px;
        margin-top: 30px;
        font-family: "Oswald", sans-serif;
        margin-bottom: 30px;
      }
    }

    .services,
    .mission {
      background-color: rgb(249, 255, 255);
      color: black;
      text-align: right;

      .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .service-btn,
        .mission-btn {
          max-width: 45%;
          min-width: 45%;
          text-align: left;

          .img {
            min-height: 70px;
            min-width: 70px;
            background-color: #353a47;
            border-radius: 50%;
          }

          h3 {
            font-size: 12px;
            max-width: 120px;
            margin-left: 10px;
          }
        }

        .mission-btn {
          max-width: 70%;
          position: relative;

          .img {
            position: absolute;
            top: 0;
            left: 0;
          }
          h3 {
            padding: 0;
            max-width: 70%;
            margin: 0;
            position: absolute;
            left: 85px;
            top: 0px;
          }

          p {
            max-width: 70%;
            font-size: 10px;
            line-height: 14px;
            position: absolute;
            top: 19px;
            right: 0;
          }
        }
      }

      .no-flex {
        flex-wrap: none;
        flex-direction: column;
        position: relative;
        padding: 20px;

        .mission-btn {
          max-width: 100px;
          max-height: 100px;
          min-height: 90px;
        }

        .img-bg {
          display: inline;
          min-height: 80%;
          max-height: 80%;
          background-size: cover;
          min-width: 40%;
          max-width: 40%;
          position: absolute;
          top: 25px;
          right: 0px;
          background-image: url("../../imgs/poarch.jpeg");
        }
      }
    }
  }
}

// Ipad PRo Portrait
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  #home-page {
    .get-started {
      img {
        max-width: 28svw;
        min-width: 28svw;
      }
    }
  }
}

@media only screen and (min-width: 1224px) {
  #home-page {
    header {
      max-height: 600px;
      min-height: 600px;
      padding-right: 180px;

      h1 {
        font-size: 85px;
        line-height: 95px;
      }
    }

    .get-started {
      padding-left: 180px;
      min-height: 600px;

      img {
        max-height: 80%;
        margin-right: 70px;
      }

      h2 {
        font-size: 65px;
        line-height: 70px;
        max-width: 50%;
      }

      p {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .services,
    .testimonials,
    .mission {
      padding-left: 180px;
      padding-right: 180px;

      .no-flex {

      .mission-btn {
        .img {
          min-height: 100px;
          min-width: 100px;
          max-height: 100px;
          max-width: 100px;
          background-color: #353a47;
          border-radius: 50%;
        }

        h3 {
          padding-left: 0px;
          margin: 0px 30px;
          color: green;
          font-size: 14px;
        }

        .img {
            min-height: 90px;
            min-width: 90px;
            max-height: 90px;
            max-width: 90px;
        }

        p {
          position: absolute;
          font-size: 12px;
          top: 25px;
          line-height: 14px;
        }
      }
    }
    }
  }
}
