#footer {
  background-color: #353A47;
  padding: 5svh 5svw;
  padding-top: 0px;
  color: rgb(249, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 2svh;
  padding-bottom: 150px;
  position: relative;

  .logo {
    img {
      max-width: 180px;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5svh;


    h4 {
      margin-bottom: 3svh;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-style: normal;
    }

    .container {
      display: flex;
      margin-bottom: 20px;
      height: fit-content;
      vertical-align: middle;

      .content-p {
        max-width: 150px;
        margin-left: 2svw;
        margin-bottom: 2svh;
        line-height: 22px;
        letter-spacing: .5px;
        word-spacing: 2px;
        font-size: 15px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
      }

      span {
        background-color: #885A5A;
        color: rgb(249, 255, 255);
        font-size: 16px;
        padding: 12px;
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
        margin-right: 20px;
        border-radius: 50%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      line-height: 22px;
      letter-spacing: .5px;
      word-spacing: 2px;
      font-size: 15px;
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;

      label {
        margin-bottom: 10px;
      }

      input, textarea {
        background: none;
        border: none;
        border-bottom: solid rgb(249, 255, 255) 1px;
        line-height: 22px;
        letter-spacing: .5px;
        word-spacing: 2px;
        font-size: 15px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 10px;
      }


      .submit {
        border: none;
        background: none;
        background-color: #885A5A;
        border-radius: 25px;
        padding: 10px;
        margin-top: 2svh;
        font-family: "Oswald", sans-serif;
        font-size: 17px;
        color: white;
      }
    }

    ul {
      list-style: none;

      a {
        color: inherit;
      }

      li {
        margin-bottom: 15px;
        line-height: 22px;
        letter-spacing: .5px;
        word-spacing: 2px;
        font-size: 15px;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
      }
    }
  }

  .back-to-top {
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
  }

  .ownership {
    background-color: rgb(249, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #353A47;
    padding: 4svh 5svw;
    font-family: "Outfit", sans-serif;
    text-align: center;
    min-width: 100svw;
  }
}

/* ipad Mini Portrait */
@media only screen and (min-width: 768px) {
#footer {
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;

  .logo {
    img {
      max-width: 100px;
    }
  }

  section {
    max-width: 20%;

    h4 {
      font-size: 12px;
    }

    .container {
      margin-bottom: 10px;

      .content-p {
        margin-left: 5px;
        margin-bottom: 0px;
        font-size: 8px;
        line-height: 10px;
      }

      span {
        background-color: #885A5A;
        color: rgb(249, 255, 255);
        font-size: 8px;
        padding: 6px;

        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
        margin-right: 20px;
        border-radius: 50%;
      }
    }

    form {
      label {
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 0px;
      }

      input, textarea {
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 5px;
      }


      .submit {
        padding: 4px;
        font-size: 12px;
      }
    }

    ul {
      list-style: none;

      a {
        color: inherit;
      }

      li {
        margin-bottom: 10px;
        font-size: 8px;
        line-height: 10px;
      }
    }
  }
  
  .back-to-top {
font-size: 12px;
position: absolute;
right: 8svw;
top: 140px
  }

  .ownership {
    min-width: 100svw;
    min-height: fit-content;
    padding: 1svh 5svw;
    font-size: 8px;
    line-height: 10px;
  }
}
}

// Ipad PRo Portrait
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #footer {
      .back-to-top {
        font-size: 12px;
        position: absolute;
        right: 160px;
        top: 150px
          } 
    }
  }

  // Desktop
@media only screen 
and (min-width: 1224px) {

  #footer {
    section {
      min-width: 18svw;
    }

    .back-to-top {
      right: 240px;
      top: 120px
        }

      .ownership {
        max-height: 50px;
        min-height: 50px;
      }
  }

}